:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(144, 144, 144, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 144, 144, 0.1);
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

body.mode__dark {
  background-color: #09090b;
  transition: 0.3s;
}
body.mode__dark * {
  color: #fff;
}
body.mode__dark .sec-navbar-menu {
  background-color: #09090b;
  transition: 0.3s;
}
body.mode__light {
  color: #000;
  background-color: #fff;
  transition: 0.3s;
}
body.mode__light * {
  color: #000;
}
body.mode__light .sec-navbar-menu {
  background-color: #fff;
  transition: 0.3s;
}

.anchor-lst {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.anchor-lst__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.anchor-lst__item a {
  opacity: 0.5;
}
.anchor-lst__item a:hover {
  opacity: 1;
}
.anchor-lst__item a i {
  font-size: 1.4rem;
}

.sec-navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.sec-navbar-menu .container {
  padding: 24px 20px;
  position: relative;
}
@media (min-width: 576px) {
  .sec-navbar-menu .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
}
.sec-navbar-menu__bt-hamburger {
  background-color: transparent;
  border: 0;
  font-size: 2.4rem;
  opacity: 0.5;
  cursor: pointer;
  z-index: 11;
  position: relative;
}
@media (min-width: 576px) {
  .sec-navbar-menu__bt-hamburger {
    display: none;
  }
}
.sec-navbar-menu__bt-hamburger:hover {
  opacity: 0.9;
}
.sec-navbar-menu__lst {
  overflow: hidden;
  max-height: 500px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 576px) {
  .sec-navbar-menu__lst {
    flex-direction: row;
    align-items: center;
    max-height: none;
    opacity: 1;
  }
}
.sec-navbar-menu__lst.is-actived {
  max-height: 500px;
  opacity: 1;
}
.sec-navbar-menu__lst__item {
  margin: 0;
  text-align: right;
}
@media (min-width: 576px) {
  .sec-navbar-menu__lst__item {
    margin: 0 12px;
  }
}
.sec-navbar-menu__lst__item__a {
  font-size: 1.6rem;
  text-decoration: none;
  opacity: 0;
  text-transform: lowercase;
  transition: opacity 0.3s ease;
}
.sec-navbar-menu__lst.is-actived .sec-navbar-menu__lst__item__a {
  opacity: 0.6;
}
.sec-navbar-menu__lst__item__a:hover {
  opacity: 0.9;
}
@media (min-width: 576px) {
  .sec-navbar-menu__lst__item__a {
    opacity: 0.5;
  }
}
.sec-navbar-menu__lst__item__bt-mode {
  font-size: 2.4rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.sec-navbar-menu__lst__item__bt-mode:hover {
  opacity: 0.9;
}
@media (max-width: 576px) {
  .sec-navbar-menu__lst__item__bt-mode {
    align-self: flex-end;
  }
}

.sec-about {
  padding: 107px 0 24px;
  border-bottom: 1.5px solid #909090;
}
.sec-about__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 576px) {
  .sec-about__wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .sec-about__wrapper__cont {
    padding-right: 60px;
    width: 568px;
  }
}
.sec-about__wrapper__cont__title {
  font-size: 2.4rem;
  font-weight: 400;
  opacity: 0.9;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1.5px solid #909090;
  display: block;
}
.sec-about__wrapper__cont__title b {
  font-weight: 600;
}
@media (max-width: 576px) {
  .sec-about__wrapper__cont__title {
    margin-top: 24px;
  }
}
.sec-about__wrapper__cont__lst__item {
  list-style: disc;
  font-size: 1.6rem;
  opacity: 0.9;
  text-align: justify;
  font-weight: 400;
  margin-left: 18px;
}
.sec-about__wrapper__cont__lst__item a {
  font-weight: 600;
}
.sec-about__wrapper__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.sec-stacks {
  padding: 60px 0;
}
.sec-stacks__title {
  font-size: 2.4rem;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 24px;
}
.sec-stacks__title b {
  font-weight: 600;
}
.sec-stacks__lst {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec-stacks__lst__item {
  border-bottom: 1px dashed #909090;
  padding: 0 0 17px;
  width: 100%;
  margin: 0 0 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .sec-stacks__lst__item {
    width: 350px;
    max-width: 50%;
  }
}
.sec-stacks__lst__item i {
  font-size: 3.2rem;
  color: #909090 !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 8px;
}
.sec-stacks__lst__item__html i {
  color: #e34f26;
}
.sec-stacks__lst__item__css i {
  color: #0099e5;
}
.sec-stacks__lst__item__sass i {
  color: #ff4c4c;
}
.sec-stacks__lst__item__js i {
  color: #f7df1e;
}
.sec-stacks__lst__item__angular i {
  color: #b52e31;
}
.sec-stacks__lst__item__vue i {
  color: #42b883;
}
.sec-stacks__lst__item__bootstrap i {
  color: #511378;
}
.sec-stacks__lst__item__flutter i {
  color: #3fa9f5;
}
.sec-stacks__lst__item__package i {
  color: #00aeff;
}
.sec-stacks__lst__item__task i {
  color: #ed1c24;
}
.sec-stacks__lst__item__git i {
  color: #909090;
}
.sec-stacks__lst__item__ide i {
  color: #fca326;
}
.sec-stacks__lst__item__agile i {
  color: #0079bf;
}
.sec-stacks__lst__item__figma i {
  color: #7d3f98;
}
.sec-stacks__lst__item__photoshop i {
  color: #002663;
}
.sec-stacks__lst__item__hardware i {
  color: #ff6900;
}

.sec-portfolio__title {
  font-size: 2.4rem;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 24px;
}
.sec-portfolio__title b {
  font-weight: 600;
}
.sec-portfolio__subtitle {
  font-size: 2rem;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 24px;
}
.sec-portfolio__subtitle b {
  font-weight: 600;
}
.sec-portfolio__lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}
.sec-portfolio__lst__item {
  width: 100%;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .sec-portfolio__lst__item {
    max-width: 50%;
    width: 300px;
  }
}
.sec-portfolio__lst__item__link {
  font-size: 1.6rem;
  margin: 0 0 6px;
  display: block;
}
.sec-portfolio__lst__item__link i {
  margin-right: 6px;
}
.sec-portfolio__lst__item__description {
  opacity: 0.5;
  font-size: 1.4rem;
}

.sec-footer {
  padding: 12px 0;
}
.sec-footer__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
@media (min-width: 576px) {
  .sec-footer__cont {
    flex-direction: row;
  }
}
.sec-footer__cont__desc {
  font-size: 1.4rem;
  opacity: 0.5;
  margin-top: 12px;
}
@media (min-width: 576px) {
  .sec-footer__cont__desc {
    margin-top: 0;
  }
}
.sec-footer__cont__social {
  display: flex;
}
.sec-footer__cont__social__item {
  margin: 0 12px;
}
@media (min-width: 576px) {
  .sec-footer__cont__social__item:last-child {
    margin-right: 0;
  }
}
.sec-footer__cont__social__item__a {
  font-size: 1.8rem;
  opacity: 0.5;
}
.sec-footer__cont__social__item__a:hover {
  opacity: 0.9;
}

/*# sourceMappingURL=main.css.map */
